.searchBar {
  width: 60vw;
  max-width: 800px;
}

.searchBox {
  padding: 10px 20px;
  border-radius: 6px;
  background: #ffffff6d;
  box-shadow: 2px 1px 4px rgba(0, 0, 0, 0.3);
}

.selectedChip {
  margin: 0px 5px 8px 0;
}

.searchInputWrapper {
  background: white;
  display: flex;
  position: relative;
  border-radius: 45px;
  border: 1px solid #aaa;
  height: 35px;
}

.searchInput {
  width: 85%;
  padding-left: 30px;
  border-radius: 50px;
  border: none;
  outline: none;
}

.searchBtn {
  width: 15%;
  background: none;
  border: none;
  border-left: 1px solid #aaa;
  border-radius: 0 50px 50px 0;
  padding-left: 0;
  cursor: pointer;
}

.searchBtn:hover {
  background: #ccc;
}

.searchBtnReady {
  background: #e0e0e0;
}

.searchBtn > * {
  vertical-align: middle;
}

.suggestions {
  position: absolute;
  top: 33px;
  width: 45vw;
  background: #eee;
  margin-left: 2vw;
  border: 1px solid #999;
  border-radius: 0 0 8px 8px;
  overflow: hidden;
}

.suggestion {
  border-bottom: 1px solid #aaa;
  cursor: pointer;
  padding: 5px 20px;
}

.suggestionHighlight {
  background: #ddd;
}

.suggestion:hover {
  background: #ddd;
}

.suggestion:last-of-type {
  border: none;
}

.hotTagWrapper {
  margin: 15px;
}

.hotTagText {
  text-shadow: 0px 0px 4px white;
  font-weight: bold;
}

.hotTag {
  margin: 5px 6px 0 6px;
}

@media (max-width: 960px) {
  .searchBar {
    width: 90vw;
  }

  .selectedChips {
    overflow: auto;
    display: flex;
    min-height: unset;
  }

  .hotTagWrapper {
    margin: 15px 0;
  }

  .hotTagChipWrapper {
    overflow: auto;
    width: 100%;
    display: flex;
    padding-bottom: 10px;
  }

  .searchInput {
    padding-left: 25px;
  }

  .searchInput::placeholder {
    font-size: 12px;
  }

  .searchBtn {
    width: 90px;
    font-size: 12px;
  }

  .suggestions {
    margin-left: 5vw;
  }
}
