.form {
  margin: 1rem 4em;
  text-align: center;
}

.form > h2,
.form > p {
  text-align: center;
  color: #fcff66;
}

.game__logo {
  width: 180px;
  height: 90px;
  background: #ff0c0c;
}

.form__label {
  display: block;
  font-size: 67.5%;
  letter-spacing: 0.125em;
  text-transform: uppercase;
}

.form__label + .form__label {
  margin-top: 0.5rem;
}

.form__input {
  display: block;
  font-size: 1rem;
  padding: 0.25rem;
}

.form__button {
  width: 220px;
  height: 48px;
  background: #FFFFFF;
  border-radius: 4.04px;
  border: 0;
  color: #4F4F4F;
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 21px;
  margin-top: 0.5rem;
  padding: 0.25rem 1rem;
  transition: background-color 150ms linear;
}

.form__button:hover {
  cursor: pointer;
}

.form__button:hover,
.form__button:active,
.form__button:focus {
  background-color: color(rebeccapurple lightness(-20%));
}
