.form {
  text-align: center;
  color: #333;
}

.form > h2 {
  font-size: 3em;
  font-weight: bold;
  margin: 0;
}

.form > p {
  font-size: 1.25em;
  width: 50%;
  margin: 1em auto 2.5em auto;
}

.game__logo {
  width: 180px;
  height: 90px;
  background: #ff0c0c;
}

.form__label {
  display: block;
  font-size: 67.5%;
  letter-spacing: 0.125em;
  text-transform: uppercase;
}

.form__label + .form__label {
  margin-top: 0.5rem;
}

.form__input {
  display: block;
  font-size: 1rem;
  padding: 0.25rem;
}

.form__button {
  background: #2d9312;
  border: 3px solid black;
  color: black;
  border-radius: 20px;
  padding: 10px 40px;
}

.form__button > p {
  font-weight: bold;
  font-size: 1.5em;
  letter-spacing: 20px;
  margin: 0 0 0 20px;
}

.form__button > span {
  letter-spacing: 3px;
  margin-left: 3px;
}

.form__button:hover {
  cursor: pointer;
}

.form__button:hover,
.form__button:active,
.form__button:focus {
  background-color: color(rebeccapurple lightness(-20%));
}

.form .textReminder {
  font-size: 14px;
  margin-top: 20px;
}

@media (max-width: 600px) {
  .form > h2 {
    font-size: 2em;
  }

  .form > p {
    font-size: 1em;
    width: 80%;
    margin: 1.7em auto;
  }

  .form__button {
    padding: 5px 50px;
  }

  .form__button > p {
    font-size: 1.25em;
    letter-spacing: 10px;
    margin: 0 0 0 10px;
  }

  .form__button > span {
    letter-spacing: unset;
    margin-left: unset;
  }
}
