.card {
  margin: var(--alignmentXL) 0;
}

.cardContent {
  margin: var(--alignmentL) 0;
}

.cardHeader {
  margin-bottom: var(--alignmentM);
}

.cardImg {
  display: block;
  margin: auto;
  max-height: 40vh;
}

.cardImgLoading {
  width: 0 !important;
  height: 0 !important;
}

.loading {
  margin: var(--alignmentXL) 0;
  display: flex;
  justify-content: center;
}

.cardButton {
  justify-content: center;
}

.tagQuestion {
  margin: var(--alignmentM) 0;
}

.tagList {
  margin: var(--alignmentM) 0;
  display: flex;
  justify-content: center;
}

.tagBtn {
  margin: 0 var(--alignmentS) !important;
}

.buttonGroup {
  width: 100%;
  padding: 0 var(--alignmentM);
  margin-bottom: var(--alignmentM);
}

.startBtn {
  margin: 24px;
}

.nextBtn {
  text-align: right;
}

.startGame {
  margin: 96px 48px;
  text-align: center;
}

.endGame {
  margin: 96px 48px;
  text-align: center;
}

.helpBtn {
  display: block;
  background: none;
  border: none;
  height: 24px;
  margin: 10px 0 10px auto;
  outline: none;
}

.imageContainer {
  height: 100%;
  display: flex;
  align-items: center;
}

@media (max-width: 600px) {
  .closeHelpTextBtn {
    display: block !important;
    margin-left: auto;
  }
}
