@import url('https://fonts.googleapis.com/css?family=Noto+Sans+TC');

* {
    font-family: 'Noto Sans TC', sans-serif;
}

.banner {
    position: relative
}

.bannerSearch {
    position: absolute;
    top: 0;
    left: 0;
    
}