/* .Dialog {
  margin: 48px 24px;
} */

.dialogContent {
  margin: 0;
}

.imageHolder {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 50vh;
  min-width: 500px;
}

.progress {
  display: block;
}

.imageDisplayCard {
  margin: auto;
  max-height: 65vh;
}

.tagsWrapper {
  margin: 24px 0;
}

.reportWrapper {
  margin-left: 10px;
  cursor: pointer;
}

.flagIcon {
  color: rgb(167, 30, 30);
  vertical-align: middle;
}

.downloadIcon {
  color: slategray;
  border-radius: 5px;
}

.downloadIcon:hover {
  color: rgb(87, 100, 112);
}

.shareIcon {
  border-radius: 5px;
  color: #2d9311;
  margin-left: 10px;
}

.shareIcon:hover {
  color: #24750e;
}

.imageDisplay {
  filter: blur(4px);
}

.imageInfo {
  display: flex;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.imageInfo__tags {
  flex: 2;
  margin-left: 15px;
  margin-top: 15px;
}

.imageInfo__tagList {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.imageInfo__title {
  background: white;
  border-radius: 5px;
  margin-bottom: 10px;
  border: 1px solid #ccc;
}

.imageInfo__tag {
  background: white;
  border-radius: 50px;
  border: 1px solid #ccc;
  margin: 0 0 5px 0;
}

.imageInfo__actionIcons {
  flex: 1;
  justify-content: flex-end;
  align-items: flex-end;
  display: flex;
  margin-right: 25px;
  margin-bottom: 25px;
}

.imageInfo__actionsIconsBg {
  background: #fffd;
  border-radius: 5px;
  display: flex;
  padding: 5px 8px;
}

@media (max-width: 600px) {
  .imageHolder {
    min-width: 200px;
  }

  .tagsWrapper {
    font-size: 12px;
    margin: 8px 0;
  }
}
