/* .Dialog {
  margin: 48px 24px;
} */

.dialogContent {
  margin: 0;
}

.imageHolder {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 50vh;
  min-width: 500px;
}

.progress {
  display: block;
}

.imageDisplayCard {
  margin: auto;
  max-height: 65vh;
}

.tagsWrapper {
  margin: 24px 0;
}

.reportWrapper {
  margin-left: 10px;
  cursor: pointer;
}

.flagIcon {
  color: rgb(167, 30, 30);
  vertical-align: middle;
}

@media (max-width: 600px) {
  .imageHolder {
    min-width: 200px;
  }

  .tagsWrapper {
    font-size: 12px;
    margin: 8px 0;
  }
}
